html {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

body {
    height: 100%;
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    background: #808080;
}

table {
    margin: 10px;
    width: calc(50% - 20px);
}

form {
    width: 500px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 10px;
}

input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    appearance: none;
}

select::after {
    content: "\25BC";
    position: absolute;
    right: 10px;
    top: 10px;
}