<div th:replace="fragment/header :: header"></div>
<main class="flex-grow-1" style="background-color:#ECE9F2">

    <!-- Основное содержимое -->
    <div class="container py-4">

        <h3>О компании "FutureWindow"</h3>

        <!-- Разделительная полоса -->
        <hr class="bg-white">

        <p>
            Наша компания успешно осуществляет свою деятельность с 2015 года и по праву занимает лидирующие позиции на
            рынке оконных технологий.
            Благодаря безупречной работе Мы зарекомендовали себя как стабильно развивающаяся компания, которой с каждым
            годом доверяют создание тепла и уюта в своих домах все большее количество клиентов.
        </p>

        <p>
            <b><em>Мы рады предложить Вам полный спектр наших услуг в Брестской области, включая:</em></b>
        </p>

        <ul>
            <li>изготовление и установка окон из алюминиевого и пластикового профиля различных форм, размеров и
                цветов;
            </li>
            <li>остекление балконов и лоджий любых конфигураций;</li>
            <li>всевозможные варианты фасадного остекления;</li>
            <li>Отделка проемов окон и дверей.</li>
        </ul>

        <p>
            Нас не пугают нестандартные задумки наших клиентов, поскольку мы можем изготовить практически любые
            светопрозрачные конструкции в зависимости от Ваших желаний и предпочтений для воплощения самых смелых и
            креативных идей.
        </p>

        <!-- Контакты -->
        <h3>Наши контакты:</h3>

        <!-- Разделительная полоса -->
        <hr class="bg-white">

        <p>
            Адрес: РБ, Брестская область, Брест, ул. Советска 74<br>
            Городской: 8(0162)23-43-41<br>
            Мобильный: 8(029)555-47-44<br>
            Почта: ot-brest@yandex.ru
        </p>

        <!-- Карта Яндекс -->
        <div style="height: 500px;" class="m-3">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A33252f826c7ac1aa5b7fa308131b45ec03aa76aa795d8647efaa05e7f555f30a&amp;source=constructor"
                    height="500px" width="625"></iframe>
        </div>

        <p>
            Коллектив нашей компании - это профессионалы своего дела. Благодаря слаженной работе наши высококлассные
            инженерные специалисты, опытные менеджеры, квалифицированные монтажные бригады эффективно применяют самые
            передовые технологии, четко следуя принципам компании – качество, надежность, мастерство.
        </p>

        <p>
            <b><em>Наши преимущества:</em></b>
        </p>

        <ul>
            <li>Индивидуальный подход к каждому клиенту;</li>
            <li>Оптимальное соотношение цена-качество;</li>
            <li>Технически выверенные этапы производства и контроль качества изделий;</li>
            <li>Использование сертифицированных качественных материалов, сырья и комплектующих;</li>
            <li>Высококвалифицированное обслуживание.</li>
        </ul>

        <p>
            Остановите свой выбор на сотрудничестве с нашей компанией и мы гарантируем высокое качество, приятные цены
            и минимальные сроки!
        </p>

        <!-- Заголовок -->
        <h3 class="text-center">У нас вы можете заказать окна в несколько простых шагов</h3>

        <!-- Разделительная полоса -->
        <hr class="bg-white">

        <!-- Место для картинки -->
        <div class="text-center">
            <img th:src="'/images/Этапы работы.png'" class="img-fluid m-3" alt="...">
        </div>


        <p class="text-center mt-4">
            <strong><em>Вызовите замерщика для определения стоимости изделия и дополнительных услуг</em></strong>
        </p>

        <!-- Разделительная полоса -->
        <hr class="bg-white">

        <p>
            Весь ассортимент нашей продукции проходит тщательный контроль по соблюдению всех требований прочности,
            звуко- и теплоизоляции, и соответствует самым строгим стандартам качества и экологической безопасности, так
            что способен удовлетворить даже самого взыскательного клиента.
        </p>
    </div>
</main>
<div th:replace="fragment/footer :: footer"></div>