<div th:replace="fragment/header :: header"></div>

<main class="flex-grow-1">
    <div class="container d-flex justify-content-center h-75 align-items-center">
        <div class="col-md-5">

            <div class="text-center">
                <h3>Сброс пароля</h3>
            </div>

            <div class="text-center">
                <p>Введите адрес почты, указанный в вашем профиле</p>
            </div>

            <form th:action="@{/store/reset-password}" method="post">

                <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" name="email"
                           placeholder="Введите адрес электронной почты" required/>
                    <label class="form-label" for="email">Адрес электронной почты:</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Сбросить пароль</button>
            </form>

            <a th:href="@{/store/support}" class="btn btn-secondary btn-block mb-4">Обратиться в службу поддержки</a>

        </div>
    </div>
</main>

<div th:replace="fragment/footer :: footer"></div>