<div th:replace="fragment/header :: header"></div>

<main class="flex-grow-1">
    <div class="container d-flex justify-content-center">
        <div class="col-md-4">

            <div class="text-center">
                <h4>Регистрация</h4>
            </div>

            <form th:action="@{/store/register}" method="post" th:object="${user}">

                <div class="form-group" th:class="${#fields.hasErrors('username')} ? 'has-error' : ''">
                    <label for="username">Логин:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" th:field="*{username}"
                               placeholder="От 3 до 20 символов" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('username')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('username') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Error</p>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('firstName')} ? 'has-error' : ''">
                    <label for="firstName">Ваше имя:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                               placeholder="Иван" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('firstName')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('firstName') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error</p>
                </div>

                <div class="form-group">
                    <label for="lastName">Ваша фамилия:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                               placeholder="Иванов" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('lastName')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('lastName') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error</p>
                </div>

                <div class="form-group">
                    <label for="email">Электронная почта:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="email" th:field="*{email}"
                               placeholder="my-email@example.com" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('email')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('email') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Error</p>
                </div>

                <div class="form-group">
                    <label for="phone">Номер телефона:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="phone" th:field="*{phone}"
                               placeholder="+3754433312211" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('phone')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('phone') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger">Error</p>
                </div>

                <div class="form-group mb-2">
                    <label for="password">Пароль:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               placeholder="Не менее 8 символов" required>
                        <div class="input-group-append">
                            <span th:if="${#fields.hasErrors('password')}" class="input-group-text text-danger"><i
                                    class="fa fa-times"></i></span>
                            <span th:if="${!#fields.hasErrors('password') and #fields.hasAnyErrors()}"
                                  class="input-group-text text-success"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error</p>
                </div>

                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example34" required/>
                            <label class="form-check-label" for="form2Example34"> Я согласен на обработку персональных данных </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Зарегистрироваться</button>
            </form>

            <a th:href="@{/store/support}" class="btn btn-secondary btn-block mb-4">Обратиться в службу поддержки</a>

        </div>
    </div>
</main>

<div th:replace="fragment/footer :: footer"></div>